body {
}

/*Jquery Identifier Classes*/
.menu-main-height
{

}


/*Top Menu*/
.menu-main-container
{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    width: 100%;
    z-index:3;
}
.menu-main-leftalign
{
    float:left;
    text-align:left;
    margin:0px;
}
.menu-main-centralalign
{
    text-align:center;
    margin:0px;
}
.menu-main-rightalign
{
    float:right;
    text-align:right;
    margin:0px;
}
.menu-main-padding
{
    width: 100%;
}
.menu-toggle-btn
{
    cursor: pointer;
    height:100%;
    background-color: none;
    color:white;
    text-decoration-style:none;
}
.menu-toggle-btn:hover{
    color:lightgrey;
}
.menu-toggle-btn:focus{
    color:white;
}
.menu-toggle-icon
{
    font-size:30px;
}
.menu-toggle-message
{
    font-size:25px;
}

/*Secondary Menu*/
.menu-secondary-container
{
    overflow-x:hidden;
    overflow-y:auto;
    background-color:white;
    position:fixed;
    z-index:5;
}
.menu-secondary-container ul
{
    width:100%;
    margin:0px;
    list-style-position: inside;
    list-style:none;
    padding-left:0;

}
.menu-secondary-container ul li 
{
    width:100%;
    margin:0px;
    text-align:left;
}
.menu-secondary-container ul li a
{
    width:100%;
    margin:0px;
    text-align:left;
    text-decoration:none;
}
.menu-secondary-container ul li ul li
{
    width:100%;
    margin:0px;
    text-align:left;
    padding-left:50px;
}
.logo
{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin:0px;
    cursor:pointer;
}

/*Other*/
.overlay-toggle-show{
    display:block !important;
    z-index:2;
}
.content
{
    margin-left:2%;
    width:90%;
}