body {

}

.primaryHeaderColor
{
    background-color:darkgreen !important;
    color:white !important;
}

.secondaryHeaderColor
{
    background-color:forestgreen !important;
    color:white !important;
}

.roundedCorners
{
    border-radius:10px !important;
}
