@model PerfectInProcess.Models.ViewModel.ProfileSetUpViewModel

@{
    ViewBag.Title = "Profile Setup";
    Layout = "~/Views/Layouts/_DefaultLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile Setup</title>
</head>
<body>
    <div>
        <h2>Prodile Setup</h2>
    </div>
</body>
</html>



