
@{
    ViewBag.Title = "Verify Email";
    Layout = "~/Views/Layouts/_DefaultLayout.cshtml";
}

<h2>Login</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify Email</title>
</head>
<body>
    <div>
        <p>A new verification link has been sent to your email on file. All accounts must be verifed before your granted access.</p>
    </div>
</body>
</html>

