
@{
    ViewBag.Title = "Verify Email";
    Layout = "~/Views/Layouts/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify Email</title>
</head>
<body>
    <div>
        <br />
        <br />
        <br />

       <p>We have sent an email with a confirmation link to your email address.<br />
        Please follow the link to continue the registration proccess. <br />
        Please allow 5-10 minutes for this message to arrive.<br />
        If email never arrives <a href="url">click here</a> to resend.</p>
    </div>
</body>
</html>



