<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script>
        function togglemenu() {
            $('.menu-togglesidebar-btn').toggleClass("hidden");
            $('.w3-overlay').toggleClass("overlay-toggle-show");
            $('.menu-sidebar-container').toggleClass("hidden");
        }

        function openMenuList(x) {
            var id = $(x).attr('id');
            $('.PermissionGroup').addClass("hidden");
            $('.' + id).removeClass("hidden");

        }




    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Style/css/Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="menu-topbar-Container">
        <div class="col-lg-4 menu-topbar-Container-leftalign">
            <a class="btn menu-togglesidebar-btn" onclick="togglemenu()">
                <span class="glyphicon glyphicon-menu-hamburger menu-togglesidebar-icon"></span>
                <span class="menu-togglesidebar-message">Menu</span>
            </a>
            <a class="btn menu-togglesidebar-btn hidden" onclick="togglemenu()">
                <span class="glyphicon glyphicon-remove-circle menu-togglesidebar-icon"></span>
                <span class="menu-togglesidebar-message">Close</span>
            </a>

        </div>
        <div class="col-lg-4 menu-topbar-Container-midalign"></div>
        <div class="col-lg-4 menu-topbar-Container-rightalign"></div>
        
    </div>
    <div class="menu-topbar-bodypadding">

    </div>
    
    <div class="menu-sidebar-container hidden">
        <ul>
            <li>
                <a id="parent_Home" class="w3-bar-item w3-button w3-border-bottom menu-sidebar-listitem" onclick="openMenuList(this)">Link 1</a>
                <ul class="parent_Home PermissionGroup hidden">
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 1-1</li>
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 1-2</li>
                </ul>
            </li>
            <li>
                <a id="parent_Account" class="w3-bar-item w3-button w3-border-bottom menu-sidebar-listitem" onclick="openMenuList(this)">Link 2</a>
                <ul class="parent_Account PermissionGroup hidden">
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 2-1</li>
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 2-2</li>
                </ul>
            </li>
            <li>
                <a id="parent_Workout" class="w3-bar-item w3-button w3-border-bottom menu-sidebar-listitem" onclick="openMenuList(this)">Link 3</a>
                <ul class="parent_Workout PermissionGroup hidden">
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 3-1</li>
                    <li class="w3-bar-item w3-button w3-border-bottom">Link 3-2</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="w3-overlay w3-animate-opacity" onclick="togglemenu()" style="cursor:pointer;"></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
